/Business Layer/obj/Debug/Business Layer.csproj.CoreCompileInputs.cache
/Business Layer/obj/Debug/Business Layer.csproj.FileListAbsolute.txt
/Business Layer/obj/Debug/Business Layer.csprojResolveAssemblyReference.cache
/Business Layer/obj/Debug/Business Layer.dll
/Business Layer/obj/Debug/Business Layer.pdb
/Business Layer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Business Layer/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Business Layer/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Business Layer/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/BusinessLayer/obj/BusinessLayer.csproj.nuget.cache
/BusinessLayer/obj/BusinessLayer.csproj.nuget.g.props
/BusinessLayer/obj/BusinessLayer.csproj.nuget.g.targets
/BusinessLayer/obj/Debug/netstandard1.4/BusinessLayer.AssemblyInfo.cs
/BusinessLayer/obj/Debug/netstandard1.4/BusinessLayer.csproj.CoreCompileInputs.cache
/BusinessLayer/obj/Debug/netstandard1.4/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/BusinessLayer/obj/Debug/netstandard1.4/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/BusinessLayer/obj/Debug/netstandard1.4/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/BusinessLayer/obj/project.assets.json
/Presentation/bin/Debug/Business Layer.dll
/Presentation/bin/Debug/Business Layer.pdb
/Presentation/bin/Debug/Presentation.exe
/Presentation/bin/Debug/Presentation.exe.config
/Presentation/bin/Debug/Presentation.pdb
/Presentation/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/Presentation/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Presentation/obj/Debug/Presentation.csproj.CopyComplete
/Presentation/obj/Debug/Presentation.csproj.CoreCompileInputs.cache
/Presentation/obj/Debug/Presentation.csproj.FileListAbsolute.txt
/Presentation/obj/Debug/Presentation.csproj.GenerateResource.Cache
/Presentation/obj/Debug/Presentation.csprojResolveAssemblyReference.cache
/Presentation/obj/Debug/Presentation.exe
/Presentation/obj/Debug/Presentation.pdb
/Presentation/obj/Debug/Presentation.Presenter.resources
/Presentation/obj/Debug/Presentation.Properties.Resources.resources
/Presentation/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Presentation/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Presentation/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/.vs/Project Euler/v15/Server/sqlite3/db.lock
/.vs/Project Euler/v15/Server/sqlite3/storage.ide
/.vs/Project Euler/v15/Server/sqlite3/storage.ide-shm
/.vs/Project Euler/v15/Server/sqlite3/storage.ide-wal
